.wrapper {
	margin-bottom: 2rem;

	.title {
		margin-bottom: 20px;
		font-size: 24px;
		font-weight: 600;
	}

	.list {
		display: flex;
		align-items: stretch;
		justify-content: center;
		flex-wrap: wrap;
		gap: 20px 25px;

		.item {
			width: calc(50% - 25px);
			padding: 30px;
			display: flex;
			flex-direction: column;
			position: relative;
			background: var(--background-gradient);
			border-radius: 14px;
			box-shadow: var(--shadow-2);
			z-index: 1;

			&::before {
				content: '';
				position: absolute;
				inset: 1px;
				background: var(--background-gradient-before);
				border-radius: inherit;
				z-index: -1;
			}

			.icon {
				width: 45px;
				height: 45px;
				flex-shrink: 0;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.content {
				text-align: left;
				display: flex;
				align-items: center;
				gap: 20px;
				margin-bottom: 10px;

				.titleText {
					margin-bottom: 8px;
					font-weight: 600;
					width: 80%;
				}
			}

			.text {
				color: var(--text-alt);
				font-size: 15px;
				line-height: 1.6;
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.wrapper {
		.list {
			flex-direction: column;

			.item {
				width: 100%;
				min-height: 0;

				.text {
					font-size: 14px;
				}
			}
		}
	}
}

@media screen and (max-width: 680px) {
	.item {
		padding: 20px;
	}
}

@media screen and (max-width: 530px) {
	.item {
		.content {
			text-align: center;

			.icon {
				margin: 0;
				img {
					width: 50px;
					height: auto;
				}
			}
		}
	}
}
