.projects {
	margin-top: 2rem;
}

.list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
	gap: 2rem;
	padding: 0;
	margin: 0;
	list-style: none;
}

/* Tablet */
@media (max-width: 1024px) {
	.list {
		gap: 1.5rem;
	}
}

/* Mobile */
@media (max-width: 640px) {
	.list {
		grid-template-columns: 1fr;
		gap: 1.25rem;
	}
}
