.wrapper {
	margin-top: 4rem;
}

.mainTitle {
	font-size: 2rem;
	
	margin-bottom: 2rem;
}

.block {
	margin-bottom: 2.5rem;
}

.subtitle {
	font-size: 1.2rem;
	margin-bottom: 1rem;
	opacity: 0.85;
}

.block img {
	max-width: 100%;
}
