.list {
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;

	html[data-theme='dark'] & img {
		filter: invert(1);
	}

	.info {
		margin-left: 30px;
		h2 {
			font-size: 24px;
			font-weight: bold;
		}
		p {
			margin-top: 20px;
		}
		a {
			button {
				margin-right: auto;
				margin-left: 0;
				margin-top: 30px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.list {
		flex-direction: column;

		img {
			width: 128px;
		}
	}
}
